<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="estilos.css">
    <title>Game</title>
</head>

<body>
    <div id="app">

        <div class="layout">

            <div class="player jogador">
                <p>Jogador</p>
                <div class="barra-progresso">
                    <div class="vida" :style="[{width : `${vidaJogador}%`}, {background : vidaJogador < 20 ?  'red' : 'green'}]"></div>
                </div>
                <p>{{ vidaJogador }}%</p>
            </div>

            <div class="player monstro">
                <p>Monstro</p>
                <div class="barra-progresso">
                    <div class="vida" :style="[{width : `${this.vidaMonstro}%`}, {background : vidaMonstro < 20 ?  'red' : 'green'}]"></div>
                </div>
                <p>{{ vidaMonstro }}%</p>
            </div>

        </div>

        <div class="layout">
            <div v-if="vidaMonstro <= 0" class="rVenceu">
                <p>Você ganhou :)</p>
            </div>
            <div v-if="vidaJogador <= 0" class="rPerdeu">
                <p>Você perdeu :(</p>
            </div>
        </div>

        <div class="layout">
            <div v-if="vidaMonstro != 0 && vidaJogador != 0">
                <button @click="ataque" class="btn ataque">ATAQUE</button>
                <button @click="ataqueEspecial" class=" btn ataqueEspecial">ATAQUE ESPECIAL</button>
                <button @click="curar" class="btn curar">CURAR</button>
                <button @click="iniciarJogo" class="btn desistir">DESISTIR</button>
            </div>
            <div v-else>
                <button @click="iniciarJogo" class="btn novoJogo">INICIAR NOVO JOGO</button>
            </div>

        </div>

        <template class="layout" v-if="primeiroAtaque" v-for="r in rodadas">
            <div class="atacar monstroAtaque">Monstro atingiu Jogador com {{ log[r][0] }}</div>
            <div class="atacar jogadorAtaque">Jogador atingiu Monstro com {{ log[r][1] }}</div>
        </template>

    </div>
</body>

</html>
<script src="app.js"></script>